#iframe-body {
   background: none transparent;
  } 

#modal-container {
  background-color: white;
  height: 640px;
  width: 720px;
  left: 50%;
  top: 50%;
  margin-left: -370px; 
  margin-top: -200px;
  position: absolute;
}

.close-button {
  background: none transparent;
  float: right;
  border: none;
  color: gray;
  font-weight: bold;
  font-size: 22;
}

.text {
  text-align: center;

}

#words {
  color: #4f0717;
}

#book-now {
  background-color: #4f0717;
  color: white;
  width: 70%;
  height: 10%;
  font-weight: bold;
  font-size: 19px;
  margin: 0 auto;
  margin-top: 30px;
}

#best-rate {
  color: #a5a4a4;
  width: 70%;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 30px;
  text-transform: capitalize;
}